{% extends "base.html" %}
{% block title %}L . E . A . P - Resources{% endblock %}
{% block code %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-color: #047700;">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Parent Resources</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Parent Resources</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    
    <div class="resources">
        <h1>Parent Information</h1>

        <div style="padding-left: 50px; padding-right: 80px; padding-top: 20px;">
            <h5 style="color: black">We are excited to introduce our English tutoring program, a valuable opportunity for your children's academic and personal growth. In Tamil Nadu, where English proficiency becomes increasingly important, our program boosts your child's language skills. By participating, your children will not only strengthen their English communication but also gain a competitive edge in a globalized world. Our dedicated volunteers and tailored curriculum ensure that each child receives individualized attention, leading to improved comprehension, grammar, and fluency. Furthermore, this program fosters confidence, opening doors to better educational and career opportunities. Invest in your child's future with our tutoring program, where language becomes a key to success.</h5>
        </div>
        
        <!-- <div style="padding-left: 50px; padding-top: 20px; padding-bottom: 20px;">
            <button onClick="window.open('https://docs.google.com/presentation/d/11jOxVvv828CdGm_Fyeg_be-BOYjgEjIG8vbHPYl_5bc/edit?usp=sharing');" class="dropbtn">Introduction Slide</button>
        </div> -->
        <!-- <div style="padding-left: 50px; padding-top: 20px; padding-bottom: 20px;">
            <button onclick="myFunction()" class="dropbtn">Session 1 Resources</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="#">Advanced Group</a>
                <a href="#">Basic Group</a>
            </div>
        </div>
        <div style="padding-left: 50px; padding-top: 20px; padding-bottom: 20px;">
            <button onclick="myFunction()" class="dropbtn">Session 2 Resources</button>
        </div>
        <div style="padding-left: 50px; padding-top: 20px; padding-bottom: 20px;">
            <button onclick="myFunction()" class="dropbtn">Session 3 Resources</button>
        </div>
        <div style="padding-left: 50px; padding-top: 20px; padding-bottom: 20px;">
            <button onclick="myFunction()" class="dropbtn">Session 4 Resources</button>
        </div> -->
    </div>

  </main><!-- End #main -->

{% endblock %}