{% extends "base.html" %}
{% block title %}L . E . A . P - School Application{% endblock %}
{% block code %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-color: #047700;">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>School Application</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>School Application</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    

    <div class="centered-form">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSewF788_d2QGoIx-19lZj-e4a-aC8yM5BDPlk0mddGLFPvSmw/viewform?embedded=true" width="640" height="1300px" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
      </div>
      
      


  </main><!-- End #main -->

{% endblock %}