{% extends "base.html" %}
{% block title %}L . E . A . P - Resources{% endblock %}
{% block code %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-color: #047700;">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Student Resources</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Student Resources</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    
    <div class="resources">
        <h1>Phase 4</h1>

        <style>
            table {
                width: 90%;
                border-collapse: collapse;
            }
        
            th, td {
                border: 1px solid black;
                padding: 8px;
                text-align: center;
                height: 75px;
            }
        
            th {
                background-color: #f2f2f2;
            }
        
            tr:nth-child(even) {
                background-color: #f2f2f2;
            }
        </style>
        
        <div style="padding-left: 5%; padding-top: 2%; padding-bottom: 5%;">
            <table>
                <tr>
                    <th>Session</th>
                    <th>Basic Slides</th>
                    <th>Advanced Slides</th>
                </tr>
                <tr>
                    <td>Session 1</td>
                    <td><a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/presentation/d/11jOxVvv828CdGm_Fyeg_be-BOYjgEjIG8vbHPYl_5bc/edit?usp=sharing">Introduction Slides</a></td>
                    <td><a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/presentation/d/11jOxVvv828CdGm_Fyeg_be-BOYjgEjIG8vbHPYl_5bc/edit?usp=sharing">Introduction Slides</a></td>
                </tr>
                <tr>
                    <td>Session 2</td>
                    <td><a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/presentation/d/1PaG-6JtTuutFZqm2rI0AAH1sgTKYi_y5kVbe8Jymyzc/edit?usp=drive_link">Session 2 Basic Slides</a></td>
                    <td><a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/presentation/d/1VxGoTPUfUi09EAYWoWGaRk_MW99ZCf1P6VD0cBdO8PM/edit#slide=id.g2581024c698_3_434">Session 2 Advanced Slides</a></td>
                </tr>
                <tr>
                    <td>Session 3</td>
                    <td><a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/presentation/d/1MiofzErX2fnSugRj3nNFO4sUnFWLo7-1p88PqBfwa8Q/edit?usp=drive_link">Session 3 Basic Slides</a></td>
                    <td><a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/presentation/d/1Mksk9Yeo6UqdXfGrrsf6A7sjGH-ZaIoF71PjZ70Jaag/edit#slide=id.g2581024c698_3_434">Session 3 Advanced Slides</a></td>
                </tr>
                <tr>
                    <td>Session 4</td>
                    <td><a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/presentation/d/1kS1qLvd2PJl08jyL9jgU18d8qUkUX_dknMuIk5dkEW4/edit#slide=id.p">Session 4 Basic Slides</a></td>
                    <td><a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/presentation/d/1RCIm_Vvq0xGR64Yo8dWyyJbrpiAFUdJr361prSJFHVo/edit#slide=id.g2581024c698_3_434">Session 4 Advanced Slides</a></td>
                </tr>
                <tr>
                    <td>Session 5</td>
                    <td><a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/presentation/d/1yOEmD3a925-0D30SufXOFjzrkMnGjN1DSKVNcNTzcTw/edit?usp=sharing">Session 5 Basic Slides</a></td>
                    <td><a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/presentation/d/1wOotduWnpxnNfwSMBz9bqH4Yj5f49_LZ1h363rkIldc/edit?usp=drive_link">Session 5 Advanced Slides</a></td>
                </tr>
                <tr>
                    <td>Session 6</td>
                    <td><a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/presentation/d/1XpNZIxLczYbYoSnKFRRGaHmhM3tfF5Ms60ykO88uNlg/edit#slide=id.p">Session 6 Basic Slides</a></td>
                    <td><a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/presentation/d/15yNXdWRZB0k5e1TXyFXnnGvDBG6nFMd0FbVYjzPvdD0/edit#slide=id.g2581024c698_3_434">Session 6 Advanced Slides</a></td>
                </tr>
                <tr>
                    <td>Session 7</td>
                    <td><a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/presentation/d/1ShKfn_rQj9WbBdASVv4NOXjr9RAy0bGZChCFWBHM-8o/edit?usp=drive_link">Session 7 Basic Slides</a></td>
                    <td><a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/presentation/d/1sKYFuhRrWYv0x2aYwdc6SmVo0IFm7RDSlwPNDt9NFn8/edit?usp=drive_link">Session 7 Advanced Slides</a></td>
                </tr>
            </table>
        </div>
        

        <!-- <div style="padding-left: 50px; padding-top: 20px; padding-bottom: 20px;">
            <button onClick="window.open('https://docs.google.com/presentation/d/11jOxVvv828CdGm_Fyeg_be-BOYjgEjIG8vbHPYl_5bc/edit?usp=sharing');" class="dropbtn">Introduction Slide</button>
        </div> -->
        <!-- <div style="padding-left: 50px; padding-top: 20px; padding-bottom: 20px;">
            <button onclick="myFunction()" class="dropbtn">Session 1 Resources</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="#">Advanced Group</a>
                <a href="#">Basic Group</a>
            </div>
        </div>
        <div style="padding-left: 50px; padding-top: 20px; padding-bottom: 20px;">
            <button onclick="myFunction()" class="dropbtn">Session 2 Resources</button>
        </div>
        <div style="padding-left: 50px; padding-top: 20px; padding-bottom: 20px;">
            <button onclick="myFunction()" class="dropbtn">Session 3 Resources</button>
        </div>
        <div style="padding-left: 50px; padding-top: 20px; padding-bottom: 20px;">
            <button onclick="myFunction()" class="dropbtn">Session 4 Resources</button>
        </div> -->
    </div>

  </main><!-- End #main -->

{% endblock %}