{% extends "base.html" %}
{% block title %}L . E . A . P - Team{% endblock %}
{% block code %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-color: #047700;">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Team</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Team</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Volunteers</h2>

        </div>

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="static/assets/img/teamspage/Shivanth.png" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Shivanth</h4>
                <span>LEADER</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="static/assets/img/teamspage/Anirudh.png" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Anirudh</h4>
                <span>LEADER</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="static/assets/img/teamspage/Default.png" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Goutham</h4>
                <span>LEADER</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="static/assets/img/teamspage/Default.png" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Nidhish</h4>
                <span>LEADER</span>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>
    </section><!-- End Team Section -->

    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="static/assets/img/teamspage/Aarav.png" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Aarav</h4>
                <span>LEADER</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="static/assets/img/teamspage/Snigdha.png" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Snigdha</h4>
                <span>LEADER</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="static/assets/img/teamspage/Devansh.png" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Devansh</h4>
                <span>VOLUNTEER</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="static/assets/img/teamspage/Hritvik.png" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Hritvik</h4>
                <span>VOLUNTEER</span>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>
    </section><!-- End Team Section -->

    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="static/assets/img/teamspage/Sam.png" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Sam</h4>
                <span>VOLUNTEER</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="static/assets/img/teamspage/Nikhil.png" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Nikhil</h4>
                <span>VOLUNTEER</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="static/assets/img/teamspage/Reya.png" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Reya</h4>
                <span>VOLUNTEER</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="static/assets/img/teamspage/George.png" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>George</h4>
                <span>VOLUNTEER</span>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>
    </section><!-- End Team Section -->

    
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="static/assets/img/teamspage/Bhavin.png" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Bhavin</h4>
                <span>VOLUNTEER</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="static/assets/img/teamspage/Neal.png" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Neal</h4>
                <span>VOLUNTEER</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="static/assets/img/teamspage/Ikshit.png" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Ikshit</h4>
                <span>VOLUNTEER</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="static/assets/img/teamspage/Alex.png" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Alex</h4>
                <span>VOLUNTEER</span>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>
    </section><!-- End Team Section -->

    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="static/assets/img/teamspage/Hansika.png" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Hansika</h4>
                <span>VOLUNTEER</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="static/assets/img/teamspage/Laya.png" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Laya</h4>
                <span>VOLUNTEER</span>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->

{% endblock %}

<!-- <div class="social"> FOR EMAIL
  <a>Email: VOLUNTEER</a>
</div> -->