{% extends "base.html" %}
{% block title %}L . E . A . P - Home{% endblock %}
{% block code %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-4">
          
          <div style="display: flex; align-items: center;">
            <h2 data-aos="fade-up">L</h2>
            <h2 data-aos="fade-up" style="color: orange; margin: 0;">&nbsp.&nbsp</h1>
            <h2 data-aos="fade-up">anguage</h2>
          </div>

          <div style="display: flex; align-items: center;">
            <h2 data-aos="fade-up">E</h2>
            <h2 data-aos="fade-up" style="color: orange; margin: 0;">&nbsp.&nbsp</h1>
            <h2 data-aos="fade-up">ducation</h2>
          </div>

          <div style="display: flex; align-items: center;">
            <h2 data-aos="fade-up">A</h2>
            <h2 data-aos="fade-up" style="color: orange; margin: 0;">&nbsp.&nbsp</h1>
            <h2 data-aos="fade-up">nd</h2>
          </div>

          <div style="display: flex; align-items: center;">
            <h2 data-aos="fade-up">P</h2>
            <h2 data-aos="fade-up" style="color: orange; margin: 0;">&nbsp.&nbsp</h1>
            <h2 data-aos="fade-up">roficiency</h2>
          </div>
          
          <blockquote data-aos="fade-up" data-aos-delay="100">
            <p>Welcome to LEAP! LEAP is a small group of US based high school volunteers who believe in equal opportunity. We don't want students held back in any way due to a lack of English fluency, as it is a language which is used in almost all international interactions. Our goal is to provide a positive learning environment where each student feels appreciated. Thank you for any kind of involvement with our program.</p>
          </blockquote>

        </div>
      </div>
    </div>
  </section>

    <!-- ======= Why Choose Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Why Choose Us</h2>
        </div>

        <div class="row g-0" data-aos="fade-up" data-aos-delay="200">

          <div class="col-xl-5 img-bg" style="background-image: url('static/assets/img/image2.png')"></div>
          <div class="col-xl-7 slides  position-relative">

            <div class="slides-1 swiper">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Quality Education</h3>
                    <h4 class="mb-3">We provide high-quality English language education to students.</h4>
                    <p>At LEAP, we are committed to offering a top-notch education that focuses on language proficiency and communication skills. Our dedicated team of educators strives to create a nurturing environment where students can learn and grow.</p>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Empowering Futures</h3>
                    <h4 class="mb-3">Our mission is to empower students with the knowledge they need for a brighter future.</h4>
                    <p>We believe in the power of education to transform lives. By providing language education to these students, we aim to open doors of opportunity and give them the confidence to pursue their dreams.</p>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Culturally Inclusive</h3>
                    <h4 class="mb-3">We celebrate diversity and foster a culturally inclusive learning environment.</h4>
                    <p>Our team values diversity and understands the importance of respecting different cultures. We embrace inclusivity and strive to create an environment where all students feel welcome and appreciated.</p>
                  </div>
                </div><!-- End slide item -->

              </div>
              <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>

        </div>

      </div>
    </section><!-- End Why Choose Us Section -->

    <!-- ======= Our Services Section ======= -->
    <section id="services-list" class="services-list">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Services</h2>
        </div>

        <div class="row gy-5">

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="icon flex-shrink-0"><i class="bi bi-briefcase" style="color: #f57813;"></i></div>
            <div>
              <h4 class="title">English Language Classes</h4>
              <p class="description">We offer interactive and engaging English language classes for students of all ages and skill levels.</p>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="bi bi-card-checklist" style="color: #15a04a;"></i></div>
            <div>
              <h4 class="title">Personalized Learning</h4>
              <p class="description">Our educators tailor the curriculum to suit the individual learning needs of each student.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="icon flex-shrink-0"><i class="bi bi-bar-chart" style="color: #d90769;"></i></div>
            <div>
              <h4 class="title">Progress Tracking</h4>
              <p class="description">We monitor the progress of our students and provide regular feedback to parents and guardians.</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Our Services Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h3>Join Us in Empowering Lives</h3>
        
            <a class="cta-btn" href="/volunteerapplication">Get Involved</a>
          </div>
        </div>
      </div>
    </section><!-- End Call To Action Section -->

  </main><!-- End #main -->

{% endblock %}